<div>
    <p>Listado de Usuarios</p>

    <table mat-table class="mat-elevation-z8">
        <thead>
          <tr>
            <th mat-header-cell *matHeaderCellDef *ngFor="let col of columns">
                {{col}}
            </th>
          </tr>
        </thead>
        <tbody>       
            <tr *ngFor="let user of users">
                <td>{{ user.name }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.role }}</td>
            </tr>   
        </tbody>
      </table>
    </div>   
